@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import './variables.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

}

html {
  font-size: 16px;
}

body {
  font-family: var(--font-sans);
  line-height: 1.5;
  color: var(--dark);
  background-color: var(--light);
}

#root {
  min-height: 100vh;
}

a {
  color: var(--primary);
  text-decoration: none;
}

button {
  font-family: inherit;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--gray);
}

::-webkit-scrollbar-thumb {
  background: var(--dark-gray);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--dark);
}

